.*.cmd
*.o
/**.o
*.so
*.order
.*.swp
*.ko
*.mod
*.mod.c
*.symvers
*.lo

*.deb
*.diff.gz
*.dsc
*.buildinfo
*.tar.gz
*.changes

result

CMakeCache.txt
CMakeFiles
cmake_install.cmake
benchmark/Specialized-BPF-KV/io_uring_open_loop/Makefile
benchmark/Specialized-BPF-KV/io_uring_open_loop/db-bpf

benchmark/Specialized-BPF-KV/io_uring_open_loop_hrp/Makefile
benchmark/Specialized-BPF-KV/io_uring_open_loop_hrp/db-bpf

